body {
    font-family: "Poppins"
}

.jumbotron h1,
.jumbotron p{
    text-align: center;
}

#googleMap {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

#output {
    text-align: center;
}